.header-field {
  display: flex;
  justify-content: center;
  border-bottom: 10px solid rgba(128, 128, 128, 0.75);
  width: 100%;
  &__mines-count {
    font-family: Calcucalor;
  }
  &__icon {
    background: url('./running.svg') no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &_lose {
      background-image: url('./lose.svg');
    }
    &_win {
      background-image: url('./win.svg');
    }
  }
}
