.field {
  display: flex;
  flex-direction: column;
  border: 10px solid rgba(128, 128, 128, 0.75);
  align-items: center;
  background-color: rgba(128, 128, 128, 0.75);
}

.field__row {
  display: flex;
}
