.cell {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: #c6c6c6;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(128, 128, 128, 0.75);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(128, 128, 128, 0.75);
  box-shadow: inset 0px 0px 0px 1px rgba(128, 128, 128, 0.75);
  &_hide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #acb0ac;

    background: url('./cell.svg') no-repeat;
    background-size: cover;
  }
  &_flag {
    background-image: url('./flag.svg');
  }
  &_question {
    background-image: url('./cell.svg');
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  &_mine {
    background-color: #c6c6c6;
    background-image: url('./mine.svg');
    background-size: contain;
  }
}
