@font-face {
  font-family: 'Calculator';
  src: local(Calculator),
    url('./assets/fonts/Calculator.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  user-select: none;
}

body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
