@font-face {
  font-family: 'Calculator';
  src: local(Calculator),
    url('./assets/fonts/Calculator.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@mixin calc-font {
  font-family: Calculator, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: red;
  text-transform: uppercase;
}

* {
  user-select: none;
}

body {
  @include calc-font();
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
